test/fit/test_tfitls
test/fit/test_tols
test/plot/test_tplot
test/solvers/test_tnsolver
test/core/test_tln
test/core/test_tnmatrix
test/misc/test_options
test/misc/test_stlstringtools



**/Makefile.in
**/Makefile
!src/slatec/**/Makefile
**/nakefile

**/*.o
**/*.a
**/*.Po
**/*.lo
**/*.lo.*
**/*.so.*
**/*.la
**/*~
**/#*#
**/configure
**/*.log
**/.deps
**/.libs

src/slatec/src/*.P
src/slatec/src/*.f
src/slatec/src/*.c
src/slatec/src/*.o
src/slatec/src/cslatec.h
src/slatec/src/slatec_src.tgz

src/*~
src/*/*~
src/*/*/*~

libtool
config.status
config.h

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex